*{

    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    background-color: black;
    width: 100%;
    color: white;
}

header{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

header h1{
    display: flex;
    align-items: start;
    justify-content: start;
    padding-right: 750px;
}


nav{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
padding-top: 50px;
}

main p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.img1{
    display: flex;
    align-items: start;
    justify-content: center;
gap: 300px;
}

.img1 img{
    display: flex;
    align-items: end;
    justify-content: end;
    /* position: relative; */
}

.img1 p{
    width: 400px;
}

.img2 img{
position: absolute;
padding-right: 600px;
}

.titulo h2{
    position: relative;
    z-index: 2;
    font-size: 200px;
}

