@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 36px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.nav a{
    
    color: black;
}

/* .logo img{
    display: flex;
    align-items: center;
    justify-content: center;
   
} */

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

main{
    background-image: url('./imagens/main.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 58px;
}

.caixa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 243, 227, 1);
    width: 550px;
    height: 480px;
    padding-top: 10px;
    
}

.caixa h1{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 50px;
    margin-bottom: -40px;
    width: 100%;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 3px;
    font-size: 16px;
}

.caixa h2{
    font-family: "Poppins", sans-serif;
    color: rgba(184, 142, 47, 1);
    font-weight: 700;
    font-style: normal;
    width: 450px;
    font-size: 52px;
}

.caixa p{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
    width: 80%;
    margin-top: -20px;
}

.caixa button{
    width: 150px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    color: rgba(184, 142, 47, 1);
    font-weight: 700;
    border: none;
    background-color: rgba(184, 142, 47, 1);
   margin-left: -290px;
   margin-top: 30px;
}

.caixa button a{
    color: white;
    font-family: "Poppins", sans-serif;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

.inicio h1{
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.inicio p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -15px;
}

